:root {
  --color: rebeccapurple;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.radio {
  font-size: 2.25rem;
  color: var(--color);

  display: grid;
  grid-template-columns: min-content auto;
  grid-gap: 0.5em;
}

.radio__input {
  display: flex;
}

.radio__input input {
  opacity: 0;
  width: 0;
  height: 0;
}

.radio__control {
  display: block;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  border: 0.1em solid currentColor;
  transform: translateY(-0.05em);

  display: grid;
  place-items: center;
}

.radio_label {
  line-height: 1;
}

input + .radio__control::before {
  content: "";
  width: .5em;
  height: .5em;
  box-shadow: inset .5em .5em currentColor; /* instead of BG Color, */
  border-radius: 50%;
  transition: 180ms transform ease-in-out;
  transform: scale(0);
}

input:checked + .radio__control::before {
  transform: scale(1);
}
